.sidebar {
    /* border-style: solid;
    border-width: 1px; */
    background-color: #daf1f7;
    color: #131921;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
    flex: 3;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar > div {
    padding-bottom: 10px;
}

.sidebar-section1,
.sidebar-section2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f8fcfa;
}
